<html layout:decorate="~{layout/layout.html}">

<head>
  <title>상품등록</title>
  <style>
        .w-50 {
            width: 50%;
        }
        .mx-auto {
            margin-left: auto;
            margin-right: auto;
        }
        .max-w-sm {
            max-width: 100%;
        }
    </style>
</head>
<body>
<main layout:fragment="main" class="container">
  <h1 class="form-control w-50 mx-auto">상품등록</h1>
  <br>
  <form th:action="@{/product/create}" method="post"  enctype="multipart/form-data" class="form-control w-50 mx-auto">
    <div>
    <label class="label">
      <span class="label-text">제목</span>
    </label>
    <input type="text" name="name" id="name" class="input input-bordered w-full">
    </div>
    <div>
      <label class="label">
        <span class="label-text">가격</span>
      </label>
      <input type="number" name="price" id="price" class="input input-bordered w-full">
    </div>
    <div>
      <label class="label">
        <span class="label-text">설명</span>
      </label>
      <textarea name="description" id="description" class="textarea textarea-bordered w-full max-w-none"></textarea>
    </div>
    <div>
      <label class="label">
        <span class="label-text">상품</span>
      </label>
      <input type="file" name="thumbnail" accept="img/png, image/gif, image/jpeg">
    </div>
    <br>
    <button type="submit" class="btn btn-accent">등록하기</button>
  </form>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
</main>
</body>



<script>
  document.getElementById("productForm").addEventListener("submit", function(event) {
    var redirectUrl = "/product/detail";
    window.location.href = redirectUrl;
    event.preventDefault();
  });
</script>
</html>