<html layout:decorate="~{layout/layout.html}">

<head>
  <title>내 정보</title>
  <style>
        .w-50 {
            width: 50%;
        }
        .mx-auto {
            margin-left: auto;
            margin-right: auto;
        }
        .max-w-sm {
            max-width: 100%;
        }
    </style>
</head>
<body>
<main layout:fragment="main" class="container">
  <a href="/product/list">◀️</a>
  <section layout:fragment="content" class="form-control w-50 mx-auto">
    <div class="container max-w-screen mx-auto">
      <div class="card">
        <div class="card-header">

        </div>
        <div class="card-header">
          상품상세정보
        </div>
        <br>
        <div class="grid grid-cols-2 md:grid-cols-[auto,1fr] gap-4">
          <div class="md:col-start-1 md:col-end-2">
            <img class="w-full max-w-[500px] h-full max-h-[500px] rounded ml-30" th:src="@{|/gen/${product.thumbnailImg}|}" alt="상품이미지">
          </div>

          <div class="list-group md:col-start-3 md:col-end-4">
            <ul>
            <li class="list-group-item flex items-center">
              <span class="w-16 inline-block">번호</span>
              <span th:text="${product.id}" class="badge bg-mint ml-5">{{product.id}}</span>
            </li>
            <li class="list-group-item flex items-center">
              <span class="w-16 inline-block">상품명</span>
              <span th:text="${product.name}" class="font-bold ml-5"></span>
            </li>
            <li class="list-group-item flex items-center">
              <span class="w-16 inline-block">가격</span>
              <span th:text="${product.price}" class="font-bold ml-5">{{product.sale_price|intcomma}}</span>원
            </li>
            <li class="list-group-item flex items-center">
              <span >등록날</span> <span th:text="${#temporals.format(product.createDate, 'yyyy-MM-dd HH:mm')}"   class="font-bold ml-9"></span>
            </li>

              </ul>
              <div class="card t-mt-[30px]">
                <div class="card-body">
                  <form th:action="@{|/cart/add/${product.id}|}" method="POST">
                    <input type="submit" value="장바구니 담기" class="text-gray-800 bg-teal-500 hover:bg-teal-300 inline-flex items-center justify-center px-3 py-2 border border-transparent text-lg font-medium rounded-md shadow-sm ">
                  </form>
                </div>
              </div>
          </div>
        </div>
      </div>
      <div class="card t-mt-[30px]">
        <div class="card-header">
          질문등록
        </div>

        <div class="card-body">
          <form sec:authorize="isAuthenticated()" th:action="@{|/question/create/${product.id}|}" method="POST">
            <div>
              <div >
                <label for="content" class="label">내용</label>
                <textarea name="content" id="content" class="textarea textarea-bordered w-full max-w-none textarea-short" rows="4"></textarea>
              </div>
              <input type="submit" value="등록하기"  class="btn btn-accent">
            </div>
          </form>
          <div class="t-text-gray-400" sec:authorize="isAnonymous()" >
            <a th:href="@{/member/login}">로그인</a> 후 이용해주세요.
          </div>
        </div>
      </div>
      <div class="card-header">
        질문리스트
      </div>
      <div class="card-body">
      <div class="card m-0 w-100 bg-base-10 border ">
        <ul th:if="${#lists.size(product.questionList)} > 0" class="list-group list-group-flush">
          <li th:each="question : ${product.questionList}">
            <br>
            <span th:text="${question.content}" style="margin-left: 30px; ;"></span>
            <div class="card-actions justify-end" style="margin-right: 30px;">
              <span th:text="${question.member.username}"></span>
            <a th:href="@{|/question/delete/${question.id}|}"
               sec:authorize="isAuthenticated()"
               th:if="${question.member != null and #authentication.getPrincipal().getUsername() == question.member.username}"
               onclick="if ( confirm('정말 삭제하시겠습니까?') == false ) return false;">삭제</a>
            </div>
          </li>
        </ul>
        <div th:unless="${#lists.size(product.questionList)} > 0" class="card-body">
          <div class="t-text-gray-400">
            질문이 없습니다
          </div>
        </div>
      </div>
      </div>
    </div>
  </section>
</main>
    <script src="https://js.tosspayments.com/v1"></script>
    <script th:inline="javascript">
    let amount = /*[[ ${product.price}]]*/;
    let orderName = /*[[ ${product.name}]]*/;

    let tossPayments = TossPayments("test_ck_oeqRGgYO1r50AM42j4oVQnN2Eyaz"); // 테스트 클라언트 키
    let path = "/";
    let successUrl = window.location.origin + path + "success";
    let failUrl = window.location.origin + path + "fail";
    let callbackUrl = window.location.origin + path + "va_callback";
    let orderId = new Date().getTime();

    function pay() {
        const method = "카드";
        const requestJson = {
            "amount": amount,
            "orderId": "sample-" + orderId,
            "orderName": orderName,
            "successUrl": successUrl,
            "failUrl": failUrl,
            "cardCompany": null,
            "cardInstallmentPlan": null,
            "maxCardInstallmentPlan": null,
            "useCardPoint": false,
            "customerName": "박토스",
            "customerEmail": null,
            "customerMobilePhone": null,
            "taxFreeAmount": null,
            "useInternationalCardOnly": false,
            "flowMode": "DEFAULT",
            "discountCode": null,
            "appScheme": null
        }
        tossPayments.requestPayment(method, requestJson)
    }
</script>




</body>

</html>

