<html layout:decorate="~{adm/layout/layout.html}">
<main layout:fragment="main">
<head>
  <meta charset="UTF-8">
  <title>관리자 페이지</title>
</head>
<body>
<h1>Artist</h1>
<table>
  <tr>
    <th>NO.</th>
    <th>Username</th>
    <th>Portfolio</th>
    <th>Email</th>
    <th>Phone</th>
  </tr>
  <tr th:each="artist : ${artistList}">
    <td th:text="${artist.id}">NO.</td>
    <td><a th:href="@{/admin/artistList/create}" th:text="${artist.username}"></a>
    </td>
    <td th:text="${artist.portfolio}"></td>
    <td th:text="${artist.email}"></td>
    <td th:text="${artist.phoneNumber}"></td>
  </tr>
</table>
</body>
</main>
</html>