<!doctype html>
<html lang="en">

<head>
    <script src="https://cdn.tailwindcss.com/3.1.4"></script>
</head>

<body>
<!-- 토스페이먼츠 결제창 SDK 추가 -->
<script src="https://js.tosspayments.com/v1/payment"></script>
<!-- 토스페이먼츠 결제위젯 SDK 추가 -->
<script src="https://js.tosspayments.com/v1/payment-widget"></script>


<div class="h-screen p-10">
    <div class="p-2 max-w-screen-lg  mx-auto grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-8">
        <div class="outline outline-gray-200 rounded-lg overflow-hidden shadow-md bg-white">
            <div class="px-6 py-8">
                <h3 class="text-3xl font-bold mb-4 text-purple-600">Basic</h3>
                <p class="text-lg text-gray-600 mb-8">BASIC 요금제 설명</p>
                <h2 amount="15,000" class="text-5xl font-bold mb-8 text-purple-600">15,000원</h2>
                <button id="payment-button-basic" orderName="Basic 요금제"
                        class="bg-purple-600 text-white py-2 px-4 rounded-lg text-lg hover:bg-purple-700 transition duration-300 ease-in-out">
                    결제하기
                </button>
            </div>
        </div>
        <div class="outline outline-gray-200 rounded-lg overflow-hidden shadow-md bg-white">
            <div class="px-6 py-8">
                <h3 class="text-3xl font-bold mb-4 text-green-600">Premium</h3>
                <p class="text-lg text-gray-600 mb-8"> PRIMIUM 요금제 설명</p>
                <h2 amount="29,000" class="text-5xl font-bold mb-8 text-green-600">29,000원</h2>

                <button id="payment-button-premium" orderName="Premium 요금제"
                        class="bg-green-600 text-white py-2 px-4 rounded-lg text-lg hover:bg-green-700 transition duration-300 ease-in-out">
                    결제하기
                </button>
            </div>
        </div>
        <div class="outline outline-gray-200 rounded-lg overflow-hidden shadow-md bg-white">
            <div class="px-6 py-8">
                <h3 class="text-3xl font-bold mb-4 text-yellow-600">Pro</h3>
                <p class="text-lg text-gray-600 mb-8">PRO 요금제 설명</p>
                <h2 amount="49,000" class="text-5xl font-bold mb-8 text-yellow-600">49,000원</h2>
                <button id="payment-button-pro" orderName="Pro 요금제"
                        class="bg-yellow-600 text-white py-2 px-4 rounded-lg text-lg hover:bg-yellow-700 transition duration-300 ease-in-out">
                    결제하기
                </button>
            </div>

        </div>

    </div>
    <!-- 결제위젯, 이용약관 영역 -->
    <div id="payment-method"></div>
    <div id="agreement"></div>
</div>
<script>
        const clientKey = 'test_ck_qLlDJaYngroEyp7RMDx3ezGdRpXx'
        const customerKey = '1a2CxHVSbsPSwHq3L97gc'
        // ------  결제위젯 초기화 ------ 
        // 비회원 결제에는 customerKey 대신 ANONYMOUS를 사용하세요.
        const paymentWidget = PaymentWidget(clientKey, customerKey) // 회원 결제
        // const paymentWidget = PaymentWidget(clientKey, PaymentWidget.ANONYMOUS) // 비회원 결제

        const paymentbuttonBasic = document.getElementById("payment-button-basic", "payment-button-premium", "payment-button-pro");
        // ------  결제위젯 렌더링 ------ 
        // 결제수단 UI를 렌더링할 위치를 지정합니다. `#payment-method`와 같은 CSS 선택자와 결제 금액 객체를 추가하세요.
        // DOM이 생성된 이후에 렌더링 메서드를 호출하세요.
        // https://docs.tosspayments.com/reference/widget-sdk#renderpaymentmethods선택자-결제-금액-옵션
        paymentWidget.renderPaymentMethods("#payment-method", { value: 15000 })

        // ------  이용약관 렌더링 ------
        // 이용약관 UI를 렌더링할 위치를 지정합니다. `#agreement`와 같은 CSS 선택자를 추가하세요.
        // https://docs.tosspayments.com/reference/widget-sdk#renderagreement선택자
        paymentWidget.renderAgreement('#agreement')

        // ------ '결제하기' 버튼 누르면 결제창 띄우기 ------
        // 더 많은 결제 정보 파라미터는 결제위젯 SDK에서 확인하세요.
        // https://docs.tosspayments.com/reference/widget-sdk#requestpayment결제-정보
        paymentbuttonBasic.addEventListener("click", function () {
            paymentWidget
                .requestPayment({
                    amount: 15000,
                    orderId: "PllHebE0Kctauecp_JaJZ",            // 주문 ID(직접 만들어주세요)
                    orderName: "Premium 요금제",                 // 주문명
                    successUrl: "http://localhost:8020/success",  // 결제에 성공하면 이동하는 페이지(직접 만들어주세요)
                    failUrl: "http://localhost:8020/fail",        // 결제에 실패하면 이동하는 페이지(직접 만들어주세요)
                    customerEmail: "customer123@gmail.com",
                    customerName: "혀나"
                })
                //     // ------결제창을 띄울 수 없는 에러 처리 ------
                //     // 메서드 실행에 실패해서 reject 된 에러를 처리하는 블록입니다.
                //     // 결제창에서 발생할 수 있는 에러를 확인하세요.
                //     // https://docs.tosspayments.com/reference
                .catch(function (error) {
                    if (error.code === 'USER_CANCEL') {
                        // 결제 고객이 결제창을 닫았을 때 에러 처리
                    } else if (error.code === 'INVALID_CARD_COMPANY') {
                        // 유효하지 않은 카드 코드에 대한 에러 처리
                    }
                })
        })


</script>
<script>
        const paymentbuttonPremium = document.getElementById("payment-button-premium");

        // ------  결제위젯 렌더링 ------ 
        // 결제수단 UI를 렌더링할 위치를 지정합니다. `#payment-method`와 같은 CSS 선택자와 결제 금액 객체를 추가하세요.
        // DOM이 생성된 이후에 렌더링 메서드를 호출하세요.
        // https://docs.tosspayments.com/reference/widget-sdk#renderpaymentmethods선택자-결제-금액-옵션
        paymentWidget.renderPaymentMethods("#payment-method", { value: 29000 })

        // ------  이용약관 렌더링 ------
        // 이용약관 UI를 렌더링할 위치를 지정합니다. `#agreement`와 같은 CSS 선택자를 추가하세요.
        // https://docs.tosspayments.com/reference/widget-sdk#renderagreement선택자
        paymentWidget.renderAgreement('#agreement')

        // ------ '결제하기' 버튼 누르면 결제창 띄우기 ------
        // 더 많은 결제 정보 파라미터는 결제위젯 SDK에서 확인하세요.
        // https://docs.tosspayments.com/reference/widget-sdk#requestpayment결제-정보
        paymentbuttonPremium.addEventListener("click", function () {
            paymentWidget
                .requestPayment({
                    amount: 29000,
                    orderId: "PllHebE0Kctauecp_JaJZ",            // 주문 ID(직접 만들어주세요)
                    orderName: "Premium 요금제",                 // 주문명
                    successUrl: "http://localhost:8020/success",  // 결제에 성공하면 이동하는 페이지(직접 만들어주세요)
                    failUrl: "http://localhost:8020/fail",        // 결제에 실패하면 이동하는 페이지(직접 만들어주세요)
                    customerEmail: "customer123@gmail.com",
                    customerName: "혀나"
                })
                //     // ------결제창을 띄울 수 없는 에러 처리 ------
                //     // 메서드 실행에 실패해서 reject 된 에러를 처리하는 블록입니다.
                //     // 결제창에서 발생할 수 있는 에러를 확인하세요.
                //     // https://docs.tosspayments.com/reference
                .catch(function (error) {
                    if (error.code === 'USER_CANCEL') {
                        // 결제 고객이 결제창을 닫았을 때 에러 처리
                    } else if (error.code === 'INVALID_CARD_COMPANY') {
                        // 유효하지 않은 카드 코드에 대한 에러 처리
                    }
                })
        })


</script>
<script>

        const paymentbuttonPro = document.getElementById("payment-button-pro");
    
        // ------  결제위젯 렌더링 ------ 
        // 결제수단 UI를 렌더링할 위치를 지정합니다. `#payment-method`와 같은 CSS 선택자와 결제 금액 객체를 추가하세요.
        // DOM이 생성된 이후에 렌더링 메서드를 호출하세요.
        // https://docs.tosspayments.com/reference/widget-sdk#renderpaymentmethods선택자-결제-금액-옵션
        paymentWidget.renderPaymentMethods("#payment-method", { value: 49000 })

        // ------  이용약관 렌더링 ------
        // 이용약관 UI를 렌더링할 위치를 지정합니다. `#agreement`와 같은 CSS 선택자를 추가하세요.
        // https://docs.tosspayments.com/reference/widget-sdk#renderagreement선택자
        paymentWidget.renderAgreement('#agreement')

        // ------ '결제하기' 버튼 누르면 결제창 띄우기 ------
        // 더 많은 결제 정보 파라미터는 결제위젯 SDK에서 확인하세요.
        // https://docs.tosspayments.com/reference/widget-sdk#requestpayment결제-정보
        paymentbuttonPro.addEventListener("click", function () {
            paymentWidget
                .requestPayment({
                    amount: 49000,
                    orderId: "PllHebE0Kctauecp_JaJZ",            // 주문 ID(직접 만들어주세요)
                    orderName: "Pro 요금제",                 // 주문명
                    successUrl: "http://localhost:8020/success",  // 결제에 성공하면 이동하는 페이지(직접 만들어주세요)
                    failUrl: "http://localhost:8020/fail",        // 결제에 실패하면 이동하는 페이지(직접 만들어주세요)
                    customerEmail: "customer123@gmail.com",
                    customerName: "혀나"
                })
                //     // ------결제창을 띄울 수 없는 에러 처리 ------
                //     // 메서드 실행에 실패해서 reject 된 에러를 처리하는 블록입니다.
                //     // 결제창에서 발생할 수 있는 에러를 확인하세요.
                //     // https://docs.tosspayments.com/reference
                .catch(function (error) {
                    if (error.code === 'USER_CANCEL') {
                        // 결제 고객이 결제창을 닫았을 때 에러 처리
                    } else if (error.code === 'INVALID_CARD_COMPANY') {
                        // 유효하지 않은 카드 코드에 대한 에러 처리
                    }
                })
        })


</script>

</body>

</html>