
<!doctype html>
<html lang="en">
<head>
  <script src="https://cdn.tailwindcss.com/3.1.4"></script>
</head>

<body>
<div class="h-screen p-10">
  <div class="max-w-screen-lg  mx-auto grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-8">
    <div class="outline outline-gray-200 rounded-lg overflow-hidden shadow-md bg-white">
      <div class="px-6 py-8">
        <h3 class="text-3xl font-bold mb-4 text-purple-600">Basic</h3>
        <p class="text-lg text-gray-600 mb-8">BASIC 요금제 설명</p>
        <h2 class="text-5xl font-bold mb-8 text-purple-600">15,000원</h2>
        <a href="#"
           class="bg-purple-600 text-white py-2 px-4 rounded-lg text-lg hover:bg-purple-700 transition duration-300 ease-in-out">결제하기</a>
      </div>
    </div>
    <div class="outline outline-gray-200 rounded-lg overflow-hidden shadow-md bg-white">
      <div class="px-6 py-8">
        <h3 class="text-3xl font-bold mb-4 text-green-600">Premium</h3>
        <p class="text-lg text-gray-600 mb-8"> PRIMIUM 요금제 설명</p>
        <h2 class="text-5xl font-bold mb-8 text-green-600">29,000원</h2>
        <a href="#"
           class="bg-green-600 text-white py-2 px-4 rounded-lg text-lg hover:bg-green-700 transition duration-300 ease-in-out">결제하기</a>
      </div>
    </div>
    <div class="outline outline-gray-200 rounded-lg overflow-hidden shadow-md bg-white">
      <div class="px-6 py-8">
        <h3 class="text-3xl font-bold mb-4 text-yellow-600">Pro</h3>
        <p class="text-lg text-gray-600 mb-8">PRO 요금제 설명</p>
        <h2 class="text-5xl font-bold mb-8 text-yellow-600">49,000원</h2>
        <a href="#"
           class="bg-yellow-600 text-white py-2 px-4 rounded-lg text-lg hover:bg-yellow-700 transition duration-300 ease-in-out">결제하기</a>
      </div>
    </div>
  </div>
</div>

</body>

</html>