<html layout:decorate="~{layout/layout.html}">

<head>
    <title>상품등록</title>
</head>
<body>
<main layout:fragment="main">

        <a th:href="@{|/board/modify/${board.id}|}" sec:authorize="isAuthenticated()" th:if="${board.author !=null and #authentication.getPrincipal().getUsername == board.author.username}">수정</a>
        <a th:href="@{|/board/delete/${board.id}|}" sec:authorize="isAuthenticated()" th:if="${board.author !=null and #authentication.getPrincipal().getUsername == board.author.username}">삭제</a>

    <h3 th:text="${board.title}"></h3>
    <p th:text="${board.content}"></p>

    <h5 th:text="|${#lists.size(board.commentList)}개의 답변이 있습니다.|"></h5>
    <div>
        <ul th:each="comment : ${board.commentList}">
            <li  th:text="${comment.content}"></li>
            <a th:href="@{|/comment/modify/${comment.id}|}">수정</a>
        </ul>
    </div>
    <div class="p-1 bg-dark text-white" th:text="${board.category}"></div>
    <form th:action="@{|/comment/create/${board.id}|}" method="post">
        <textarea name="content" id="content" rows="15"></textarea>
        <input type="submit" value="답변등록">
    </form>



    <a th:href="@{/board/list}">목록</a>
    <th:block layout:fragment="script"></th:block>
    <script layout:fragment="script" type='text/javascript'>
const delete_elements = document.getElementsByClassName("delete");
Array.from(delete_elements).forEach(function(element) {
    element.addEventListener('click', function() {
        if(confirm("정말로 삭제하시겠습니까?")) {
            location.href = this.dataset.uri;
        };
    });
});
</script>
</main>
</body>

</html>