<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>게시판 디테일</title>
</head>
<body>

<div class="my-3">
    <a th:href="@{|/board/modify/${board.id}|}"
       th:text="수정"></a>
    <a href="javascript:void(0);" th:data-uri="@{|/board/delete/${board.id}|}"
       th:text="삭제"></a>
</div>

    <h3 th:text="${board.title}"></h3>
    <p th:text="${board.content}"></p>

    <h5 th:text="|${#lists.size(board.commentList)}개의 답변이 있습니다.|"></h5>
    <div>
        <ul>
            <li th:each="comment : ${board.commentList}" th:text="${comment.content}"></li>
        </ul>
    </div>
    <div class="p-1 bg-dark text-white" th:text="${board.category}"></div>
    <form th:action="@{|/comment/create/${board.id}|}" method="post">
        <textarea name="content" id="content" rows="15"></textarea>
        <input type="submit" value="답변등록">
    </form>



    <a th:href="@{/board/list}">목록</a>
<th:block layout:fragment="script"></th:block>

<script layout:fragment="script" type='text/javascript'>
const delete_elements = document.getElementsByClassName("delete");
Array.from(delete_elements).forEach(function(element) {
    element.addEventListener('click', function() {
        if(confirm("정말로 삭제하시겠습니까?")) {
            location.href = this.dataset.uri;
        };
    });
});
</script>
</body>
</html>