<html layout:decorate="~{layout/layout.html}">
<body>
<main layout:fragment="main" class="container">
    <h1>게시글 등록</h1>
    <form th:object="${boardForm}" method="post" class="form-control w-full">
        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
        <select name="category" class="select select-bordered w-full">
            <option value="자유">자유</option>
            <option value="작가">작가</option>
            <option value="스토어">스토어</option>
        </select>
        <div>
            <label class="label">
                <span class="label-text">제목</span>
            </label>
            <input type="text" name="title" id="subject" class="input input-bordered w-full">
        </div>
        <div>
            <label class="label">
                <span class="label-text">내용</span>
            </label>
            <textarea name="content" id="content" class="textarea textarea-bordered w-full max-w-none"></textarea>
        </div>
        <button type="submit" class="btn btn-accent">저장하기</button>
    </form>
</main>
<script>
    function validateForm() {
        var title = document.getElementById("subject").value;
        var content = document.getElementById("content").value;

        var titleError = document.querySelector("span[th:if*='title']");
        var contentError = document.querySelector("span[th:if*='content']");

        titleError.innerHTML = "";
        contentError.innerHTML = "";

        var isValid = true;

        if (title.trim() === "") {
            titleError.innerHTML = "제목은 필수 입력사항입니다.";
            isValid = false;
        }

        if (content.trim() === "") {
            contentError.innerHTML = "내용은 필수 입력사항입니다.";
            isValid = false;
        }

        return isValid;
    }
</script>


</body>

</html>