<html layout:decorate="~{layout/layout.html}">
<head>
    <title>메인</title>
    <link rel="stylesheet" href="static/common.css">
</head>
<body>
<main layout:fragment="main">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/daisyui@0.14.4/dist/full.css">
    <!-- 폰트어썸 불러오기 -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <div class="component-title-bar container mx-auto">
        게시물 리스트
    </div>

    <a th:href="@{/board/create}">게시물 등록</a>

    <div class="section-article-list">
        <div class="container mx-auto">
            <div class="card bordered shadow-lg item-bt-1-not-last-child">
                <div class="card-title">
                    <a href="javascript:history.back();" class="cursor-pointer">
                        <i class="fas fa-chevron-left"></i>
                    </a>
                    <span>게시물 리스트</span>
                </div>
                <div class="item-bt-1-not-last-child">
                    <!-- 게시물 아이템, first -->
                    <div class="px-4 py-8">
                        <a class="hover:underline cursor-pointer">
                            <span class="badge badge-outline">제목</span>
                            <div class="line-clamp-3">
                                        <a th:text="${board.title}"></a>
                            </div>
                        </a>
                        <div class="mt-3 grid sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-3">
                            <a href="#" class="row-span-7">
                                <img class="rounded" src="https://www.utoimage.com/data/banner/2023/07/20230721163612_185110299664ba356c354ea.jpg" alt="">
                            </a>

                            <a href="#" class="hover:underline">
                                <span class="badge badge-primary" >번호</span>
                                <span>1232</span>
                            </a>

                            <a href="#" class="cursor-pointer hover:underline">
                                <span class="badge badge-accent">작성자</span>
                                <span>홍길동</span>
                            </a>

                            <a href="#" class="hover:underline">
                                <span class="badge">등록날짜</span>
                                <span class="text-gray-600 text-light">2020-12-12 12:12:12</span>
                            </a>

                            <a href="#" class="hover:underline">
                                <span class="badge">수정날짜</span>
                                <span class="text-gray-600 text-light">2020-12-12 12:12:12</span>
                            </a>

                            <a class="mt-3 hover:underline cursor-pointer col-span-1 sm:col-span-2 xl:col-span-3">
                                <span class="badge badge-outline">본문</span>
                                <div class="line-clamp-3">
                                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Earum sapiente fuga libero maxime! Quisquam delectus necessitatibus, laboriosam inventore commodi, odio voluptates tenetur excepturi quo consequatur obcaecati, incidunt quam nulla! Porro?
                                </div>
                            </a>
                        </div>

                        <div class="plain-link-wrap gap-3 mt-4">
                            <a href="#" class="plain-link" title="자세히 보기">
                                <span><i class="fas fa-info"></i></span>
                                <span>자세히 보기</span>
                            </a>
                            <a href="#" class="plain-link">
                                <span><i class="fas fa-edit"></i></span>
                                <span>수정</span>
                            </a>
                            <a onclick="if ( !confirm('삭제하시겠습니까?') ) return false;" href="#" class="plain-link">
              <span>
                <i class="fas fa-trash"></i>
                <span>삭제</span>
              </span>
                            </a>
                        </div>
                    </div>

                    <!-- 게시물 아이템, second -->
                    <div class="px-4 py-8">
                        <a class="hover:underline cursor-pointer">
                            <span class="badge badge-outline">제목</span>
                            <div class="line-clamp-3">
                                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Earum sapiente fuga libero maxime! Quisquam delectus necessitatibus, laboriosam inventore commodi, odio voluptates tenetur excepturi quo consequatur obcaecati, incidunt quam nulla! Porro?
                            </div>
                        </a>
                        <div class="mt-3 grid sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-3">
                            <a href="#" class="row-span-7">
                                <img class="rounded" src="https://i.pravatar.cc/250?img=14" alt="">
                            </a>

                            <a href="#" class="hover:underline">
                                <span class="badge badge-primary">번호</span>
                                <span>1232</span>
                            </a>

                            <a href="#" class="cursor-pointer hover:underline">
                                <span class="badge badge-accent">작성자</span>
                                <span>홍길동</span>
                            </a>

                            <a href="#" class="hover:underline">
                                <span class="badge">등록날짜</span>
                                <span class="text-gray-600 text-light">2020-12-12 12:12:12</span>
                            </a>

                            <a href="#" class="hover:underline">
                                <span class="badge">수정날짜</span>
                                <span class="text-gray-600 text-light">2020-12-12 12:12:12</span>
                            </a>

                            <a class="mt-3 hover:underline cursor-pointer col-span-1 sm:col-span-2 xl:col-span-3">
                                <span class="badge badge-outline">본문</span>
                                <div class="line-clamp-3">
                                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Earum sapiente fuga libero maxime! Quisquam delectus necessitatibus, laboriosam inventore commodi, odio voluptates tenetur excepturi quo consequatur obcaecati, incidunt quam nulla! Porro?
                                </div>
                            </a>
                        </div>

                        <div class="plain-link-wrap gap-3 mt-4">
                            <a href="#" class="plain-link" title="자세히 보기">
                                <span><i class="fas fa-info"></i></span>
                                <span>자세히 보기</span>
                            </a>
                            <a href="#" class="plain-link">
                                <span><i class="fas fa-edit"></i></span>
                                <span>수정</span>
                            </a>
                            <a onclick="if ( !confirm('삭제하시겠습니까?') ) return false;" href="#" class="plain-link">
              <span>
                <i class="fas fa-trash"></i>
                <span>삭제</span>
              </span>

                                <a th:href="@{/board/create}">게시물 등록</a>

                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</main>


</body>

</html>