<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:layout="" layout:decorate="~{layout/layout.html}">
<head>
    <meta charset="UTF-8">
    <title>공지사항 게시판</title>
</head>
<body>
<main layout:fragment="main">
    <form th:action="@{|/notice/create|}" method="post" class="form-control w-full">
        <div>
            <label class="label">
                <span class="label-text">제목</span>
            </label>
            <input type="text" name="title" id="subject">
        </div>
        <div>
            <label class="label">
                <span class="label-text">내용</span>
            </label>
            <textarea name="content" id="content" class="textarea textarea-bordered w-full max-w-none"></textarea>
        </div>
        <button type="submit" class="btn btn-accent">등록</button>
    </form>
</main>
</body>
</html>
