<!doctype html>
<html lang="ko" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:layout="" layout:decorate="~{layout/layout.html}"
      xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" th:href="@{/notice/noticeList.css}">
    <title>notice_list</title>
</head>
<body>
<main layout:fragment="main" class="container">
    <a th:href="@{|/notice/create|}" sec:authorize="hasAuthority('ADMIN')" class="btn btn-accent float-right mb-5">
        공지사항 등록</a>
    <a href="/notice/faq" class="btn btn-accent float-right mb-5">자주 묻는 질문</a>
    <table>
        <thead>
        <tr>
            <th>분류</th>
            <th>제목</th>
            <th>작성자</th>
            <th>조회수</th>
            <th>작성 일시</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="notice: ${paging.content}" class="text-center">
            <td>공지</td>
            <td>
                <a th:href="@{|/notice/detail/${notice.id}|}" th:text="${notice.title}">제목</a>
            </td>
            <td th:if="${notice.admin != null}" th:text="${notice.admin.username}">작성자</td>
            <td th:text="${notice.hitCount}">조회수</td>
            <td th:text="${#temporals.format(notice.createDate, 'yyyy-MM-dd HH:mm')}">작성일시</td>
        </tr>
        </tbody>
    </table>
    </table>
    <div th:if="${!paging.isEmpty()}">
        <ul class="pagination justify-content-center">
            <li class="page-item" th:classappend="${paging.number == 0} ? 'disabled'">
                <a class="page-link"
                   th:href="@{|?page=${paging.number-1}|}">
                    <span>이전</span>
                </a>
            </li>
            <li th:each="page: ${#numbers.sequence(0, paging.totalPages-1)}"
                th:if="${page >= paging.number-5 and page <= paging.number+5}"
                th:classappend="${page == paging.number} ? 'active'"
                class="page-item">
                <a th:text="${page}"th:href="@{|?page=${page}|}"></a>
            </li>
            <li class="page-item" th:classappend="${paging.number == paging.totalPages - 1} ? 'disabled'">
                <a class="page-link" th:href="@{|?page=${paging.number+1}|}">
                    <span>다음</span>
                </a>
            </li>
        </ul>
    </div>
</main>
</body>
</html>