<html layout:decorate="~{adm/layout/layout.html}">
<main layout:fragment="main">
    <div class="btn">
        <button type="button" id="deleteButton" class="delete_btn"> 선택 삭제</button>
    </div>
    <table>

    <thead>
    <tr>
        <th>phoneNumber</th>
        <th>email</th>
        <th>loginID</th>
        <th>createDate</th>
        <th>providerTypeCode</th>
        <th class="button_menu">선택</th>

    </tr>
    </thead>
        <tbody>
    <tr th:each="member : ${memberList}">

        <td th:text="${member.phoneNumber}"></td>
        <td>
            <a th:href="@{|/adm/memberDetail/${member.id}|}" th:text="${member.email}"></a>
        </td>
        <td>
            <span th:text="${member.loginId}"></span>
        </td>
     <td><div th:text="${#temporals.format(member.createDate, 'yyyy-MM-dd HH:mm')}"></div></td>


        <td th:text="${member.providerTypeCode}"></td>

        <td class="button_menu">
            <label class="user_check">
                <input type="checkbox" name="user_check" th:value="${member.id}">
            </label>
        </td>
    </tr>
    </tbody>
    </table>
</main>
<script th:inline="javascript">


   function getSelectedUserIds() {

    const selectedUserIds = [];
    $("input[name='user_check']:checked").each(function(){
       selectedUserIds.push($(this).val());

    })

      if (selectedUserIds.length >= 1) {
      console.log(selectedUserIds);
        return selectedUserIds;

      } else {
        alert("삭제할 유저를 선택해주세요.");
        return [];
      }

  }


   $("#deleteButton").click(function() {
    adminConfirmOrder();
   });


    function adminConfirmOrder() {
    const selectedUserIds = getSelectedUserIds();
          console.log(selectedUserIds)
    if (selectedUserIds.length > 0) {

        $.ajax({
            type: "GET",
            url: "/adm/member/delete",
            data: { userIds : selectedUserIds },
            dataType:'text',
            success: function (response) {
                alert("삭제하시겠습니까?");
                window.location.reload();
            },
            error: function () {
                alert("삭제에 실패하였습니다.");
            }
        });
    } else {
        alert("삭제할 유저를 선택해주세요.");
    }
}


</script>

</body>
</html>