<!DOCTYPE html>
<html>
<head>
  <meta charset="EUC-KR">
  <title>Insert title here</title>
</head>
<body>
<form action="WebSendMail" method= "post" enctype="multipart/form-data">
  <table border="1" cellpadding="0" cellspacing="0">
    <tr>
      <td>Title</td>
      <td><input type="text" name="subject" size="40"></td>
    </tr>
    <tr>
      <td>Content</td>
      <td><textarea name="body" rows="10" cols="40"></textarea></td>
    </tr>
    <tr>
      <td>File</td>
      <td><input type="file" name="attachment"></td>
    </tr>
    <tr>
      <td colspan="2"><input type="submit" value="Submit"></td>
    </tr>
  </table>
</form>


</body>
</html>