<html layout:decorate="~{layout/layout.html}" xmlns:layout="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <title>로그인</title>
</head>

<body>
<main layout:fragment="main">
    <script>
        function LoginForm__submit(form) {
            // loginId 이(가) 올바른지 체크

            form.loginId.value = form.loginId.value.trim(); // 입력란의 입력값에 있을지 모르는 좌우공백제거
            if (form.loginId.value.length == 0) {
                toastWarning('아이디를 입력해주세요.');
                form.loginId.focus();
                return;
            }
            if (form.loginId.value.length < 4) {
                toastWarning('아이디를 4자 이상 입력해주세요.');
                form.loginId.focus();
                return;
            }
            // password 이(가) 올바른지 체크
            form.password.value = form.password.value.trim(); // 입력란의 입력값에 있을지 모르는 좌우공백제거
            if (form.password.value.length == 0) {
                form.password.focus();
                toastWarning('비밀번호를 입력해주세요.');
                return;
            }
            if (form.password.value.length < 4) {
                toastWarning('비밀번호를 4자 이상 입력해주세요.');
                form.password.focus();
                return;
            }
            form.submit(); // 폼 발송
        }

    </script>
    <section class="section section-login flex-grow flex flex-col items-center justify-center">
        <div class="max-w-md w-full px-2 pt-4">
            <h1 class="font-bold text-lg">
                <i class="fa-solid fa-arrow-right-to-bracket"></i>
                로그인
            </h1>
            <form th:action="@{/member/login}" method="post"  class="flex flex-col gap-3"
                  onsubmit="LoginForm__submit(this); return false;">
                <div th:if="${param.error}">
                    <div class="alert alert-danger">
                        사용자ID 또는 비밀번호를 확인해 주세요.
                    </div>
                </div>
                <div class="form-control">
                    <label for="loginId" class="form-label">아이디</label>
                    <input type="text" name="loginId" class="input input-bordered" id="loginId">
                </div>
                <div class="form-control">
                    <label for="password" class="form-label">비밀번호</label>
                    <input type="password" name="password" class="input input-bordered" id="password">
                </div>
               <div>
                    <input type="submit" value="로그인" class="btn btn-accent">
                </div>
            </form>

            <div>
                <a class="btn btn-link" href="/oauth2/authorization/kakao">
                    카카오로 로그인하기
                </a>
            </div>
        </div>
    </section>
</main>
</body>

</html>