<html layout:decorate="~{layout/layout.html}">

<head>
    <title>내 정보</title>
    <style>
        .w-50 {
            width: 50%;
        }
        .mx-auto {
            margin-left: auto;
            margin-right: auto;
        }
        .max-w-sm {
            max-width: 100%;
        }
    </style>
</head>

<body>

<main layout:fragment="main" class="container">
    <h5 class="form-control w-50 mx-auto">마이페이지</h5>
    <hr>
    <br>
    <div class="form-control w-50 mx-auto">
        <div class="card m-0 w-100 bg-base-100">
            <div class="card-body border-2">
                <div>번호         : <span th:text="${@rq.member.id}" class="h-5 rounded-md ml-10"></span></div>
    <div>이름       : <span th:text="${@rq.member.username}" class="h-5 rounded-md ml-10"></span></div>
    <div>이메일 : <span th:text="${@rq.member.email}" class="h-5 rounded-md ml-6"></span></div>
    <div>가입날짜 : <span class="h-5 rounded-md ml-2" th:text="${#temporals.format(@rq.member.createDate, 'yyyy-MM-dd HH:mm')}"></span></div>
            </div>
            </div>
    </div>
    <br>
    <br>
    <div>
        <div>
            <div class="form-control w-50 mx-auto">개인정보 변경</div>
            <hr>
            <br>
            <form id="changePasswordForm" action="/mypage/modifyPassword" method="Post" class="form-control w-50 mx-auto">
                <div> 기존 비밀번호</div>
                <input id="password" name="password" placeholder="비밀번호를 입력해주세요." type="password" class="input input-bordered w-64" >
                <br>
                <div > 비밀번호 변경</div>
                <input id="newPW" name="newPW" placeholder="새 비밀번호를 입력해주세요." type="password" class="input input-bordered w-64">
                <br>
                <div > 비밀번호 변경 확인</div>
                <input id="newPW2" name="newPW2" placeholder="새 비밀번호를 다시 입력해주세요." type="password" class="input input-bordered w-64">
                <div id="passwordMatchMsg" style="display: none; color: red;"></div>
                <br>
                <div>
                    <button type="button" onclick="showConfirmation()" class="btn btn-accent mt-4">변경하기</button>
                </div>
            </form>
        </div>
    </div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <script>
 function showConfirmation() {
        const confirmation = confirm("정말 변경하시겠습니까?");

        if (confirmation) {
                    document.getElementById("changePasswordForm").submit();
        }
    }


        const presentPWInput = document.getElementById("password");
        const newPWInput = document.getElementById("newPW");
        const newPW2Input = document.getElementById("newPW2");
        const passwordMatchMsg = document.getElementById("passwordMatchMsg");

        newPW2Input.addEventListener("input", function() {
            const newPWValue = newPWInput.value;
            const newPW2Value = newPW2Input.value;

            if (newPWValue !== newPW2Value) {
                passwordMatchMsg.textContent = "입력한 비밀번호가 일치하지 않습니다.";
                passwordMatchMsg.style.display = "block";
            } else {
                passwordMatchMsg.textContent = "";
                passwordMatchMsg.style.display = "none";
            }
        });
    </script>
</main>
</body>

</html>

