<form th:action="@{|/store/modify/${store.id}|}" method="post" enctype="multipart/form-data" >
    <div>
        <label for="category">카테고리:</label>
        <select id="category" name="category">
            <option value="사진">사진</option>
            <option value="동영상">동영상</option>
            <option value="일러스트">일러스트</option>
            <option value="PPT">PPT</option>
            <option value="기타">기타</option>
        </select><br>
        <tr>
            <input type="text" id="title" name="title">
        </tr>
        <td>
            <textarea name="content" id="content" cols="30" rows="10"></textarea>
            <input type="file" name="file">
        </td>
    </div>
    <button type="submit">저장하기</button>
</form>