<html layout:decorate="~{layout/layout.html}">

<head>
    <title>스토어리스트</title>
</head>

<body>
<main layout:fragment="main">
    <ul class="flex justify-between">
        <li class="flex  justify-center">
            <a href="store/image" class="text-base font-normal text-gray-500 list-none hover:text-gray-900 mr-8"
               target="_blank">이미지</a>
            <a href="store/movie" class="text-base font-normal text-gray-500 list-none hover:text-gray-900 mr-8"
               target="_blank">동영상</a>
            <a href="store/icon" class="text-base font-normal text-gray-500 list-none hover:text-gray-900"
               target="_blank">아이콘</a>
        </li>
    </ul>
</main>
</body>

</html>