<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" media="screen" href="css/thankyou.css" />
    <link rel="icon" href="img/icon.png">
    <title>GoldFish Edu :: Thank you!</title>
</head>
<body>
<div class="wrap">
    <div class="container">
        <div class="heading">
            <span class="big-message">THANK YOU!</span>
        </div>
        <div class="img-container">
            <img src="img/thankyou.png" alt="thankyou-image">
        </div>
        <div class="content-div">
            <p class="content">Your submission has been received. We will reply soon!</p>
            <p class="content"><a href="#">Back to previous page</a></p>
        </div>
    </div>
</div>
</body>
</html>