<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<tr th:each="store,loop : ${paging}">
    <td th:text="${paging.getTotalElements - (paging.number * paging.size) - loop.index}"></td>
    <div>
        <td>
            <img th:src="@{${store.getFile}}" alt="" width="300px" height="200px">
        </td>
    </div>
    <td>
        <a th:href="@{|/store/detail/${store.id}|}" th:text="${store.title}"></a>
    </td>
</tr>
<!-- 페이징처리 시작 -->
<div th:if="${!paging.isEmpty()}">
    <!-- 가로로 페이징을 나타내기 위해 ul 태그에 클래스를 추가하고, li 태그에도 클래스 추가 -->
    <ul class="pagination horizontal-pagination">
        <li class="page-item" th:classappend="${!paging.hasPrevious} ? 'disabled'">
            <a class="page-link" th:href="@{|?page=${paging.number-1}|}">
                <span>이전</span>
            </a>
        </li>
        <li th:each="page: ${#numbers.sequence(0, paging.totalPages-1)}"
            th:if="${page >= paging.number-5 and page <= paging.number+5}"
            th:classappend="${page == paging.number} ? 'active'"
            class="page-item">
            <a th:text="${page}" class="page-link" th:href="@{|?page=${page}|}"></a>
        </li>
        <li class="page-item" th:classappend="${!paging.hasNext} ? 'disabled'">
            <a class="page-link" th:href="@{|?page=${paging.number+1}|}">
                <span>다음</span>
            </a>
        </li>
    </ul>
</div>
<!-- 페이징처리 끝 -->

<a href="/store/create">글쓰기</a>
</body>
</html>