<!-- HTML 템플릿 -->
<tr th:each="cart : ${cartList}">
  <td><input type="checkbox"></td>
  <td><img class="t-w-[50px] t-h-[50px] sm:t-w-[150px] sm:t-h-[150px] t-object-cover rounded"
           width="100px" height="100px"  th:src="@{|/gen/${cart.product.thumbnailImg}|}" alt="상품이미지"></td>
  <td th:text="${cart.product.name}"></td>
  <td>
    <span th:text="@{|\ ${cart.product.price}|}"></span>
  </td>
  <td>
    <!-- 수정된 부분: 데이터 속성을 활용하여 필요한 정보 전달 -->
    <button onclick="pay(/*[[${cart.product.price}]]*/, /*[[${cart.product.name}]]*/, /*[[${cart.id}]]*/);" class="btn btn-primary">구매</button>
    <a href="#" type="button" class="btn btn-danger">삭제</a>
  </td>
</tr>

<!-- JavaScript -->
<script th:inline="javascript">
    var orderId = /*[[${new java.util.Date().getTime()}]]*/; // 현재 시간을 밀리초로 가져옴
</script>
<script src="https://js.tosspayments.com/v1"></script>
<script th:inline="javascript">
    let tossPayments = TossPayments("test_ck_BX7zk2yd8yPdLKg2DnErx9POLqKQ"); // 테스트 클라이언트 키
    let path = "/";
    let successUrl = window.location.origin + path + "success";
    let failUrl = window.location.origin + path + "fail";
    let callbackUrl = window.location.origin + path + "va_callback";

    function pay(amount, orderName, cartId) {
        const method = "카드";
        const requestJson = {
            "amount": amount,
            "orderId": "sample-" + orderId,
            "orderName": orderName,
            "successUrl": successUrl,
            "failUrl": failUrl,
            "cardCompany": null,
            "cardInstallmentPlan": null,
            "maxCardInstallmentPlan": null,
            "useCardPoint": false,
            "customerName": "박토스",
            "customerEmail": null,
            "customerMobilePhone": null,
            "taxFreeAmount": null,
            "useInternationalCardOnly": false,
            "flowMode": "DEFAULT",
            "discountCode": null,
            "appScheme": null
        };
        tossPayments.requestPayment(method, requestJson);

        // 클릭한 버튼이 어떤 row에 해당하는지 식별하여 추가적인 처리 가능
        console.log("Clicked on Cart ID: " + cartId);
    }
</script>