<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>작가게시판 목록</title>
</head>
<body>
<a th:href="@{/board/create}">게시물 등록</a>

<table>
    <thead>
    <tr>
        <th>제목</th>
        <th>작성일시</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="board : ${boardList}">
        <td>
        <a th:href="@{|/board/detail/${board.id}|}" th:text="${board.title}"></a>
        </td>
        <td th:text="${board.content}"></td>
    </tr>
    </tbody>
</table>

</body>
</html>