<html layout:decorate="~{layout/layout.html}">

<head>
    <title>메인</title>
</head>
<body>
<main layout:fragment="main">
    <div class="section-video-wrap">
        <!-- pc 섹션 비디오 구현 시작 -->
        <section class="section-banner section-banner-1">
            <div class="section-banner__img-box section-banner-1__img-box relative w-full h-[500px]">
                <img src="https://www.utoimage.com/data/banner/2023/08/20230808131829_3940781664d1c215850e4.jpg" alt=""
                     class="w-full h-full object-cover">
            </div>
        </section>
        <!-- pc 섹션 비디오 구현 끝 -->
    </div>
    <br>
    <br>
    <!-- 섹션 비디오 구현 끝 -->
    <!-- 섹션 wrap 구현 시작 -->
    <div class="section-wrap">
        <!-- pc 섹션 배너 구현 시작 -->
        <div class="pc-section-wrap">
            <section class="section-banner section-banner-1">
                <div class="section-banner__img-box section-banner-1__img-box relative w-full h-[500px] flex justify-center items-center">
                    <img src="https://mimg.segye.com/content/image/2017/07/24/ori/20170724511047.jpg" alt=""
                         class="w-[1500px] h-full object-cover">
                    <div class="absolute inset-0 flex flex-col justify-center items-center">
                        <strong class="text-xl text-white block">ProMembership</strong>
                    </div>
                </div>
            </section>
            <br>
            <section class="section-banner section-banner-1">
                <div class="section-banner__img-box section-banner-1__img-box relative w-full h-[500px]">
                    <img src="https://www.utoimage.com/data/banner/2023/07/20230719135229_109944763564b76c0de21a3.jpg" alt=""
                         class="w-full h-full object-cover">
                    <div class="absolute inset-0 flex flex-col justify-center items-center">
                        <strong class="text-xl text-white block">PremiumShop</strong>
                    </div>
                </div>
            </section>
            <br>
            <section class="section-banner section-banner-1">
                <div class="section-banner__img-box section-banner-1__img-box relative w-full h-[500px]">
                    <img src="https://image.utoimage.com/preview/cp872722/2021/09/202109000079_500.jpg" alt=""
                         class="w-full h-full object-cover">
                    <div class="absolute inset-0 flex flex-col justify-center items-center">
                        <strong class="text-xl text-white block">BasicShop</strong>
                    </div>
                </div>
            </section>
            <br>
            <br>
        </div>
    </div>
</main>


</body>

</html>

