<html layout:decorate="~{layout/layout.html}">

<head>
    <title>메인</title>
</head>
<body>
<main layout:fragment="main">

    <div class="section-video-wrap">
        <!-- pc 섹션 비디오 구현 시작 -->
        <section class="pc-section-video-wrap">
            <video src="https://jbimweb.s3.ap-northeast-2.amazonaws.com/video/jb_jejulager_web_6.mp4" autoplay loop
                   muted></video>
        </section>
        <!-- pc 섹션 비디오 구현 끝 -->
    </div>
    <!-- 섹션 비디오 구현 끝 -->
    <!-- 섹션 wrap 구현 시작 -->
    <div class="section-wrap">
        <!-- pc 섹션 배너 구현 시작 -->
        <div class="pc-section-wrap">
            <section class="section-banner section-banner-1">
                <div class="con mx-auto flex flex-col h-full">
                    <div class="flex-1">
                        <div class="section-banner-1__logo flex justify-center mt-[70px]">
                            <img src="" alt="">
                        </div>
                    </div>
                    <div class="flex-1 flex justify-center">
                        <div class="section-banner-1__item-wrap flex gap-x-[30px] ml-[-210px] mb-[60px]">
                            <div class="section-banner__img-box section-banner-1__img-box">
                                <img src="https://www.utoimage.com/data/banner/2023/07/20230721163536_75062171064ba3548319c2.jpg" alt="">
                            </div>
                            <div class="https://www.utoimage.com/data/banner/2023/07/20230721163536_75062171064ba3548319c2.jpg">
                                <div>
                  <span>
                    <strong>PremiumMembership</strong>에서는 작가의 혼이 담긴 저작권을 보실 수 있습니다.
                  </span>
                                    <span></span>
                                    <span></span>
                                    <span></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="section-banner section-banner-2">
                <div class="con mx-auto flex flex-col h-full">
                    <div class="flex-1">
                        <div class="section-banner-2__logo flex justify-center mt-[70px]">
                            <img src="https://cdn.imweb.me/thumbnail/20210802/3badabe16b4cc.png" alt="">
                        </div>
                    </div>
                    <div class="flex-1 flex justify-center">
                        <div class="section-banner-2__item-wrap flex gap-x-[30px] ml-[-100px] mb-[60px]">
                            <div class="section-banner__img-box section-banner-2__img-box">
                                <img src="https://cdn.imweb.me/thumbnail/20220517/654c8d1e15f2e.png" alt="">
                            </div>
                            <div class="section-banner__txt-box section-banner-2__txt-box flex items-center">
                                <div>
                  <span>
                    <strong>제주 위트 에일</strong>
                    은 제주 감귤 껍질의 상큼함과 섬세한 꽃 향,
                  </span>
                                    <span>입 안 가득 부드럽게 퍼지는 시트러스향이 만나</span>
                                    <span>산뜻한 끝 맛을 선사하는 밀맥주입니다.</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="section-banner section-banner-3">
                <div class="con mx-auto flex flex-col h-full">
                    <div class="flex-1">
                        <div class="section-banner-3__logo flex justify-center mt-[70px]">
                            <img src="https://cdn.imweb.me/thumbnail/20210801/55a43112137c1.png" alt="">
                        </div>
                    </div>
                    <div class="flex-1 flex justify-center">
                        <div class="section-banner-3__item-wrap flex gap-x-[30px] mr-[-70px] mb-[60px]">
                            <div class="section-banner__img-box section-banner-3__img-box">
                                <img src="https://cdn.imweb.me/thumbnail/20220517/55e8833983cc3.png" alt="">
                            </div>
                            <div class="section-banner__txt-box section-banner-3__txt-box flex items-center">
                                <div>
                  <span>
                    <strong>제주 펠롱 에일</strong>
                    은 반딧불이 반짝이는 곶자왈에서 영감을 받아 탄생하였습니다.</span>
                                    <span>다양하고 개성있는 홉들을 블렌딩하여</span>
                                    <span>시트러스 아로마와 진한 맥아의 맛이 어우러져</span>
                                    <span>풍부한 풍미를 선사하는 페일에일 맥주입니다.</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</main>


</body>

</html>

