<html layout:decorate="~{layout/layout.html}">

<head>
    <title>메인</title>
</head>
<body>
<main layout:fragment="main">
    <div class="section-video-wrap">
        <section class="section-banner section-banner-1">
            <div class="section-banner__img-box section-banner-1__img-box relative w-full">
                <video class="video" autoplay loop muted>
                    <source src="video/main.mp4" type="video/mp4">
                </video>
            </div>
        </section>
    </div>
</main>
</body>

</html>

