<html layout:decorate="~{layout/layout.html}">

<head>
    <title>작가등록</title>
</head>

<body>


<main layout:fragment="main">
    <br>
    <br>
    <div class="component-title-bar container mx-auto">
        <div class="section-article-write">
            <div class="container mx-auto max-w-xl">
                <div class="card bordered shadow-lg item-bt-1-not-last-child w-full p-5">
                    <div class="card-title">
                        <a href="javascript:history.back();" class="cursor-pointer">
                            <i class="fas fa-chevron-left"></i>
                        </a>
                        <span>정보 입력</span>
                    </div>
                    <div class="px-3 py-5">
                        <form th:action="@{/artist/register}" th:object="${artistCreateForm}" method="post"
                              class="grid form-type-1 mx-auto max-w-md p-5  bg-white">
                            <!-- max-w-md 클래스 및 p-5 클래스 추가 -->

                            <div class="form-control">
                                <label class="form-label" for="username">이름</label>
                                <input type="text" th:field="*{username}" class="input input-bordered w-1/2">
                            </div>
                            <br>
                            <div class="form-control">
                                <label class="form-label" for="phoneNumber">연락처</label>
                                <input type="text" th:field="*{phoneNumber}" class="input input-bordered w-1/2">
                            </div>
                            <br>
                            <div class="form-control">
                                <label class="form-label" for="email">이메일</label>
                                <input type="text" th:field="*{email}" class="input input-bordered w-1/2">
                            </div>
                            <br>
                            <div class="form-control">
                                <label class="form-label" for="email">포트폴리오</label>
                                <input type="text" th:field="*{email}" class="input input-bordered">
                            </div>
                            <br>
                            <div class="form-control">
                                <label class="form-label" for="introDetail">간단한소개</label>
                                <textarea name="introDetail" id="" cols="30" rows="4" type="text"
                                          th:field="*{introDetail}" class="textarea textarea-bordered h-40"></textarea>
                            </div>
                            <br>
                            <button type="submit" class="btn btn-primary btn-sm" style="width: 20%">등록</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <br>
    </div>
</main>
</div>
$('input[type="file"].thumb-available').each(function(index, node) {
const $node = $(node);

$node.on('change', function () {
const thumbSelector = $node.attr('data-thumb-selector');

if (typeof (FileReader) != "undefined") {
const evalStr = '$node.' + thumbSelector;
var $imageHolder = eval(evalStr);
$imageHolder.empty();

var reader = new FileReader();
reader.onload = function (e) {
$("<img/>", {
"src": e.target.result,
"class": "max-w-sm block rounded border-2 border-gray-500"
}).appendTo($imageHolder);
}
reader.readAsDataURL($(this)[0].files[0]);
} else {
alert("This browser does not support FileReader.");
}
});
});
</body>

</html>





