<html layout:decorate="~{layout/layout.html}">

<head>
    <title>작가등록</title>
</head>
<body>
<main layout:fragment="main"  class="container">
    <h1>작가등록</h1>
    <form th:action="@{/artist/register}" th:object="${artistCreateForm}" method="post"
          class="form-control w-full">
        <!-- max-w-md 클래스 및 p-5 클래스 추가 -->
        <div>
            <label class="label" for="username">이름</label>
            <input type="text" th:field="*{username}" class="input input-bordered w-full">
        </div>
        <br>
        <div>
            <label class="label" for="phoneNumber">연락처</label>
            <input type="text" th:field="*{phoneNumber}" class="input input-bordered w-full">
        </div>
        <br>
        <div>
            <label class="label" for="email">이메일</label>
            <input type="text" th:field="*{email}" class="input input-bordered w-full">
        </div>
        <br>
        <div class="form-control">
            <form th:action="@{/copy/author}" method="post" enctype="multipart/form-data" class="form-control w-full">
                <input type="hidden" name="recipientEmail" value="vv4704@gmail.com">

                <label for="title" class="label">제목</label>
                <input type="text" id="title" name="title" placeholder="제목" class="input input-bordered w-full"> <br>

                <label for="message" class="label">소개 내용</label>
                <textarea id="message" name="message" placeholder="소개해주세요." cols="60" rows="20" class="input input-bordered w-full"></textarea> <br>

                <label for="attachedFiles" class="label">첨부 파일</label>
                <input type="file" id="attachedFiles" name="attachedFiles" multiple > <br>
                <!-- multiple 속성은 여러 파일 업로드를 지원하기 위함 -->

                <button type="submit" class="btn btn-accent" style="width: 20%">발송</button>
            </form>
        </div>
        <br>
        <button type="submit" class="btn btn-accent" style="width: 20%">등록</button>
    </form>
    </div>
    </div>
    </div>
    </div>
    <br>
    <br>
    </div>
</main>
</div>
$('input[type="file"].thumb-available').each(function(index, node) {
const $node = $(node);

$node.on('change', function () {
const thumbSelector = $node.attr('data-thumb-selector');

if (typeof (FileReader) != "undefined") {
const evalStr = '$node.' + thumbSelector;
var $imageHolder = eval(evalStr);
$imageHolder.empty();

var reader = new FileReader();
reader.onload = function (e) {
$("<img/>", {
"src": e.target.result,
"class": "max-w-sm block rounded border-2 border-gray-500"
}).appendTo($imageHolder);
}
reader.readAsDataURL($(this)[0].files[0]);
} else {
alert("This browser does not support FileReader.");
}
});
});
</body>

</html>





